# CUDA 12.4 support
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
--extra-index-url https://download.pytorch.org/whl/cu124

# Additional dependencies
numpy
tqdm
matplotlib
requests
librosa
inflect
tensorboardX
Hebrew
gdown
unidecode
pandas